{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--header.twig' %}
	<article class="post-type-{{post.post_type}} bg--white" id="post-{{post.ID}}">
		<section class="article-content max-wrap margin--center spacing--gutter flex flex--wrap justify--between align--items-baseline">
			<div class="grid--one grid--sm-half grid--md-three-fifths spacing--vert-2 spacing--dsk-vert-3">
				<h2>{{newsevents.news}}</h2>
				{{post.content}}
				{% for news in news %}
					{% include 'tease-news.twig' %}
				{% endfor %}
				{% if news.pagination %}
					{% set  pagination = news.pagination %}
					{% include 'components/sections/section--pagination.twig' %}
				{% endif %}
			</div>
			<div class="section--events grid--one grid--sm-half grid--md-third ">
				<div class="block--events spacing--vert-1 border-box spacing--horiz-1">
					<h2>{{newsevents.events}}</h2>
					<ul>
						{% for event in events %}
							{% if month == event.event.start_date|date('F') %}{% else %}<h5 class="margin--vert-1">{{event.event.start_date|date('F, Y')}}</h5>{% endif %}
							<li>{{event.event.start_date|date('M, d')}} - <a href="{{event.link}}">{{event.title}}</a>{% if event.event.start_time %}<span class="nobreak"> {{event.event.start_time|date('g:i a')}}</span>{% endif %}</li>
							{% set month = event.event.start_date|date('F') %}
						{% endfor %}
					</ul>
				</div>
				<div class="bg--blue block--email spacing--vert-1 border-box spacing--horiz-1 margin--top-1">
					<h2>{{newsevents.email}} <i class="icon-email" data-grunticon-embed></i></h2>
					<div>{{newsevents.signup}}</div>
					{{options.social.email}}
				</div>
			</div>
		</section>
	</article>
{% endblock %}