{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--header.twig' %}
	<article class="post-type-{{post.post_type}} bg--white" id="post-{{post.ID}}">
		<section class="article-content max-wrap margin--center spacing--gutter spacing--vert-2 spacing--dsk-vert-4 flex flex--wrap justify--between">
			<div class="grid--one grid--sm-three-fifths">
				<h1 class="h2">{{post.title}}</h1>
				<p class="blog-author">
					{% if post.post_type == 'event' %}
						{{event.start_date|date('F d, Y')}}{% if event.start_time %}<span class="nobreak"> {{event.start_time|date('g:i a')}}</span>{% endif %}
					{% elseif post.post_type == 'development' %}
					{% else %}
					 {{ post.post_date|date}}
					{% endif %}
				</p>
				{{post.content}}
			</div>
		</section>
	</article>
{% endblock %}