<article class="tease tease--{{post.post_type}} tease--{{news.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h4><a href="{{post.link}}" class="color--black">{{post.title}}</a></h4>
		<div>{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src|resize(450,450)}}" width="225" align="right" />
		{% endif %}{{post.get_preview}}</div>
		
	{% endblock %}
	{% if loop.last %}<br>{% else %}<hr class="margin--vert-2">{% endif %}
</article>